.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
}

.buttonStyle,
.linkButtonStyle {
  padding: 14px 20px;
  border-radius: 10px;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;

  min-width: 160px;
  text-align: center;

  transition: 0.3s ease;
}

.buttonStyle:hover,
.linkButtonStyle:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}